@{
    ForumInit init = (ForumInit)ViewData["init"];
    ViewData["Title"] = "Login | Accounts";
}

@{
    string info = "";
    if ((bool)ViewData["is_post"])
    {
        string password = init.Request.Form["password"].ToString();
        string username = init.Request.Form["username"].ToString();
        string tfa = init.Request.Form["tfa"].ToString();
        if (password != null && username != null && tfa != null)
        {
            LoginResult res = init.AttemptLogin(username, password, tfa);
            if (res == LoginResult.MISSING)
            {
                info = "<b>ERROR</b>: Failed, wrong username!";
            }
            else if (res == LoginResult.BAD_PASSWORD)
            {
                info = "<b>ERROR</b>: Failed, wrong password!";
            }
            else if (res == LoginResult.BANNED)
            {
                info = "<b>ERROR</b>: Failed, you are banned!";
            }
            else if (res == LoginResult.BAD_TFA)
            {
                info = "<b>ERROR</b>: Failed, incorrect Two-Factor-Authentication code!";
            }
            else if (res == LoginResult.ALLOWED)
            {
                init.Response.Redirect("/Account");
                return;
            }
            else
            {
                info = "<b>ERROR</b>: Failed, unknown login rejection error occured!";
            }
        }
        else
        {
            info = "<b>ERROR</b>: Failed, null inputs!";
        }
    }
}

<br>@Html.Raw(info)

<form id="Loginno" method="POST">
    <br><span class="emphasis">User Name</span>
    <br>Your username as the system currently knows it.
    <br><input type="text" name="username" value="" placeholder="Username" class="wide_input_box" />
    <br><span class="emphasis">Password</span>
    <br>Your password as the system currently knows it.
    <br><input type="password" name="password" value="" class="wide_input_box" />
    <br><span class="emphasis">Two Factor Authentication</span>
    <br>If you have TFA configured on your account, read the most current code from your TFA app and input it below.
    <br><input type="text" name="tfa" value="" class="wide_input_box" />
    <br><input type="submit" value="Login" />
</form>
